@import './fonts.css'; 
/* Layout Base */

.sportify-events-page .all-events-page {
  width: 100%; /* Force full screen width */
  margin: 0;
  padding: 0;
}

/* Top Section Background */
.sportify-events-page .events-section-white {
  height: auto;
  width: 100%;
  padding: 20px 30px;
}


.sportify-events-page .event-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 100%;
  color: black;
}

.sportify-events-page .event-input {
  color: black !important;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-size: 1rem;
  width: 100%;
}


.sportify-events-page .search-icon {
  color: #ff9100;
}

/* Grid Wrappers */
.sportify-events-page .events-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .sportify-events-page .events-grid {
    flex-direction: row;
  }
}

.sportify-events-page .main-column {
  flex: 3;
}

.sportify-events-page .sidebar-column {
  flex: 1;
}

.sportify-events-page .event-card-week,
.sportify-events-page .event-card-past,
.sportify-events-page .event-card-upcoming {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Section Titles */
.sportify-events-page .section-subtitle,
.sportify-events-page .sidebar-title,
.sportify-events-page .event-section-title {
  font-size: 30px;
  font-family: 'Eveleth Dot', sans-serif;
  color: #ff9100;
  margin-bottom: 1rem;
}

.sportify-events-page .event-section-title {
  font-size: 36px;
  padding: 20px 30px;
}

.sportify-events-page .section-divider {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 50px 0px;
}

/* Week Events */
.sportify-events-page .week-events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 5rem;
}

.sportify-events-page .status-starting {
  background-color: #2e7d32;
  color: white;
}

.sportify-events-page .status-started {
  background-color: #2962ff; 
  color: white;
}

.sportify-events-page .status-upcoming {
  background-color: #ff9100; 
  color: black;
}

.sportify-events-page .week-events h6{
  font-size: 20px;
  font-weight: bold;
  color: #ff9100;
}

.sportify-events-page .event-card-week {
  background-color: #ff9100;
  color: black;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sportify-events-page .hosted-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.3rem 0.6rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 2;
}

.sportify-events-page .hosted-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.4rem;
}

.sportify-events-page .hosted-text {
  font-size: 0.75rem;
  color: #2c2c2c;
}


.sportify-events-page .event-img-container {
  position: relative;
  height: 150px;
  background-color: white;
}

.sportify-events-page .event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sportify-events-page .event-status {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem; 
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 2;
}

.sportify-events-page .event-body {
  padding: 1rem;
}

.sportify-events-page .event-title {
  font-weight: bold;
  font-size: 40px;
  color: #d47d00;
}

.sportify-events-page .event-meta {
  font-size: 0.85rem;
  margin-top: 0.3rem;
  color: #333;
}

.sportify-events-page .event-footer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sportify-events-page .week-event-visibility{
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 8px ;
  background-color: black;
  color: white;
}

.sportify-events-page .event-week-view-btn {
  width: 40%;
  height: auto;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background-color: #2c2c2c;
  padding: 0.4rem 0.75rem;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.sportify-events-page .event-week-view-btn:hover {
  background-color: #494949;
}

/* Past Events */
.sportify-events-page .past-events {
  display: flex;
  gap: 2rem;
}

.sportify-events-page .event-card-past {
  background-color: #ff9100;
  overflow: hidden;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sportify-events-page .event-img-container-past {
  position: relative;
  height: 139px;
  background-color: White;
}

.sportify-events-page .event-status-past {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #d32f2f;
  color: white;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 2;
}

.sportify-events-page .event-footer-past {
  background-color: #2c2c2c;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 15px 15px;
}

.sportify-events-page .past-rank {
  font-size: 0.85rem;
  font-weight: bold;
}

.sportify-events-page .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
}

/* Upcoming Events */

.sportify-events-page .event-toggle-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1em 0 0;
}

.sportify-events-page .event-toggle-buttons button {
  background-color: #2c2c2c;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sportify-events-page .event-toggle-buttons .toggle-active {
  background-color: #ff9100;
  color: white;
}

.sportify-events-page .upcoming-events {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 2rem;
}

.sportify-events-page .event-card-upcoming {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .sportify-events-page .event-card-upcoming {
    flex-direction: row;
  }
}

.sportify-events-page .event-img-upcoming {
  width: 100%;
  height: 100%;
  background-color: #ff9100;
  flex-shrink: 0;
  margin: 8px;
}

@media (min-width: 768px) {
  .sportify-events-page .event-img-upcoming {
    width: 500px;
    height: auto;
  }
}

.sportify-events-page .event-meta {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  margin-top: 0.3rem;
  color: #333;
}

.sportify-events-page .event-details-upcoming {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.sportify-events-page .event-description {
  font-size: 20px;
  margin-top: 0.3rem;
  color: #444;
}

.sportify-events-page .event-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 25px;
  font-weight: bolder;
  color: #444;
}

.sportify-events-page .event-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sportify-events-page .event-visibility {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 10px;
  background-color: black;
  color: white;
}

.sportify-events-page .event-visibility.public {
  background-color: #2c2c2c;
}

.sportify-events-page .event-visibility.private {
  background-color: #ff1744;
}

.sportify-events-page .hosted-info {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.sportify-events-page .host-logo-placeholder {
  width: 24px;
  height: 24px;
  background-color: #444;
  border-radius: 4px;
}

.sportify-events-page .avatar-stack {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.sportify-events-page .avatars {
  display: flex;
  gap: 0.2rem;
}

.sportify-events-page .avatar {
  width: 45px;
  height: 45px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid white;
}

.sportify-events-page .plus-count {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 0.5rem;
}

.sportify-events-page .event-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
}

.sportify-events-page .event-date-box {
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.sportify-events-page .event-date-top {
  background-color: #d47d00;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 6px 0;
}

.sportify-events-page .event-date-middle {
  background-color: #f0f0f0;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 6px 0;
}

.sportify-events-page .event-date-bottom {
  background-color: #f0f0f0;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 8px;
}


.sportify-events-page .event-view-btn {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  background-color: #ff9100;
  color: white;
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s;
}

.sportify-events-page .event-view-btn:hover {
  background-color: #ffaa33;
}

.sportify-events-page .loading-text {
  text-align: center;
  color: white;
}